<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f = "http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <body>

        <ui:composition template="./../Templates/mainTemplate.xhtml">

            <ui:define name="content">
                <div class="container">
                    <h1>Artículos</h1>
                    <br></br>
                    <div class="row">
                        <div class="col-xs-6">
                            <h:form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputCodigo" class="col-sm-4 control-label">Código </label>
                                    <div class="col-sm-8">
                                        <h:inputText id="inputCodigo" value="#{controllerItem.selectedItem.codigo}" class="form-control" a:placeholder="Código" required="true" label="Código" ></h:inputText>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputDescripcion" class="col-sm-4 control-label">Descripción </label>
                                    <div class="col-sm-8">
                                        <h:inputText id="inputDescripcion" value="#{controllerItem.selectedItem.descripcion}" class="form-control" a:placeholder="Descripción" required="true" label="Descripción" ></h:inputText>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-md-offset-2">
                                        <h:commandButton value="Crear" class="btn btn-default" action="#{controllerItem.crearItem()}"></h:commandButton>
                                    </div>
                                </div>
                            </h:form>
                        </div>

                        <div class="col-xs-4">

                            <h:form>
                                <ui:repeat value="#{controllerItem.items}" var="item">
                                    <div class="list-group">
                                        <!--<a href="#" class="list-group-item">-->
                                        <h:commandLink action="#"  class="list-group-item">
                                            <h4 class="list-group-item-heading">(#{item.codigo}) </h4>
                                            <p class="list-group-item-text">Descripción #{item.descripcion}</p>
                                        </h:commandLink>
                                        <!--</a>-->
                                    </div>
                                </ui:repeat>   
                            </h:form>

                        </div>
                    </div>

                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
