<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <body>

        <ui:composition template="./../Templates/mainTemplate.xhtml">

            <ui:define name="content">
                <div class="container">
                    <h1>Prestamos</h1>
                    <br></br>
                    <div class="row">
                        <div class="col-xs-6">
                            <h:form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputUsuario" class="col-sm-4 control-label">Usuario </label>
                                    <div class="col-sm-8">
                                        <h:selectOneMenu class="form-control" value="#{controllerPrestamo.selectedPrestamo.idUsuario}">
                                            <f:selectItems value="#{controllerUsuario.listaUsuarios}" var="usuario" itemValue="#{usuario.id}" itemLabel="#{usuario.documento}" />
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputArticulos" class="col-sm-4 control-label">Articulos </label>
                                    <div class="col-sm-8">
                                        <h:selectOneMenu class="form-control" value="#{controllerPrestamo.selectedPrestamo.idItem}">
                                            <f:selectItems value="#{controllerItem.listaItem}" var="item" itemValue="#{item.id}" itemLabel="#{item.descripcion}" />
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputUso" class="col-sm-4 control-label">Fecha de Uso </label>
                                    <div class="col-sm-8">
                                        <h:inputText value="#{controllerPrestamo.selectedPrestamo.fechaUso}" p:placeholder="dd-MM-yyyy"  >
                                            <f:convertDateTime  pattern="dd-MM-yyyy"/>  
                                        </h:inputText>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputHoraInicio" class="col-sm-4 control-label">Hora inicio </label>
                                    <div class="col-sm-8">
                                        <h:inputText value="#{controllerPrestamo.selectedPrestamo.horaInicio}" p:placeholder="HH:mm" >
                                            <f:convertDateTime type="time" pattern="dd-MM-yyyy HH:mm" />
                                        </h:inputText>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputHoraFin" class="col-sm-4 control-label">Hora Fin </label>
                                    <div class="col-sm-8">
                                        <h:inputText value="#{controllerPrestamo.selectedPrestamo.horaFin}"   p:placeholder="HH:mm" >
                                            <f:convertDateTime type="time" pattern="dd-MM-yyyy HH:mm" />
                                        </h:inputText>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEstado" class="col-sm-4 control-label">Estado </label>
                                    <div class="col-sm-8">
                                        <h:selectOneMenu class="form-control" value="#{controllerPrestamo.selectedPrestamo.estado}">
                                            <f:selectItem itemValue = "Activo" itemLabel = "Activo" /> 
                                            <f:selectItem itemValue = "Cancelada" itemLabel = "Cancelada" /> 
                                            <f:selectItem itemValue = "Terminada" itemLabel = "Terminada" />
                                        </h:selectOneMenu>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <div class="col-md-3 col-md-offset-2">
                                        <h:commandButton value="Crear" class="btn btn-default" action="#{controllerPrestamo.crearPrestamo()}"></h:commandButton>
                                    </div>
                                </div>
                            </h:form>
                        </div>

                        <div class="col-xs-4">

                            <h:form>
                                <ui:repeat value="#{controllerPrestamo.prestamos}" var="item">
                                    <div class="list-group">
                                        <h:commandLink action="#"  class="list-group-item">
                                            <h4 class="list-group-item-heading">(#{item.estado}) </h4>
                                            <p class="list-group-item-text">Descripción #{item.idItem}</p>
                                        </h:commandLink>
                                        <!--</a>-->
                                    </div>
                                </ui:repeat>   
                            </h:form>

                        </div>
                    </div>

                </div>

            </ui:define>
        </ui:composition>

    </body>
</html>
