<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/default.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <link href="http://bootswatch.com/paper/bootstrap.min.css" rel="stylesheet"></link>
        <title>Parcial 3</title>
    </h:head>

    <h:body>

        <div id="top" class="top">
            <ui:insert name="top">
                <p:tabMenu activeIndex="#{param.i}">
                    <p:menuitem value="Registro" outcome="/Views/Users" icon="ui-icon-person">
                        <f:param name="i" value="0" />
                    </p:menuitem>
                    <p:menuitem value="Inscribirse" outcome="/Views/Register" icon="ui-icon-plusthick">
                        <f:param name="i" value="1" />
                    </p:menuitem>
                    <p:menuitem value="Consultas - Usuarios inscritos" outcome="/Views/UserRegisters" icon="ui-icon-document">
                        <f:param name="i" value="2" />
                    </p:menuitem>
                    <p:menuitem value="Consultas - Usuarios Admitidos" outcome="/Views/Admitted" icon="ui-icon-document">
                        <f:param name="i" value="3" />
                    </p:menuitem>

                </p:tabMenu>
            </ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Selecciona Una Opción</ui:insert>
        </div>

    </h:body>

</html>
