<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Matriculas académicas</title>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <link href="../resources/css/cssLayout.css" rel="stylesheet" type="text/css"/>
                <link href="../resources/css/default.css" rel="stylesheet" type="text/css"/>
                <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
                <link href="http://bootswatch.com/paper/bootstrap.min.css" rel="stylesheet"></link>
            </f:facet>
        </h:head>
        <h:body>
            <div id="top">
                <ui:insert name="top">
                    <p:tabMenu activeIndex="#{param.i}">
                        <p:menuitem value="Datos de estudiantes" outcome="/Views/Students" icon="ui-icon-person">
                            <f:param name="i" value="0" />
                        </p:menuitem>
                        <p:menuitem value="Programa academico" outcome="/Views/AcademicPrograms" icon="ui-icon-bookmark">
                            <f:param name="i" value="1" />
                        </p:menuitem>
                        <p:menuitem value="Matricula" outcome="/Views/Enrollments" icon="ui-icon-transferthick-e-w">
                            <f:param name="i" value="2" />
                        </p:menuitem>
                        <p:menuitem value="Estudiantes Matriculados" outcome="/Views/StudentsByProgram" icon="ui-icon-transferthick-e-w">
                            <f:param name="i" value="2" />
                        </p:menuitem>

                    </p:tabMenu>
                </ui:insert>
            </div>

            <div id="content" class="center_content" style="height:500px">
                <ui:insert name="content">Content</ui:insert>
            </div>

            <div id="bottom" class="bottom">
                <ui:insert name="bottom">
                    By Ramiro Bedoya
                </ui:insert>
            </div>

        </h:body>
    </f:view>

</html>
