<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--<h:link value="Ir a pagina principal" outcome="/Views/principal" />-->
        <ui:composition template="./Template/mainTemplate.xhtml">

            <ui:define name="content">
                <div class="main-text" >
                    <div class="text">
                        <h1 class="main-header">
                            ¿Querés tener una sonrisa Keepsmiling?
                        </h1>
                        <p>
                            Una buena sonrisa no sólo aporta estética, también trasmite mayor seguridad, alegría, dulzura y calidez.
                        </p>
                        <h:button value="Enterate cómo" outcome="/Views/principal"></h:button>
                        <!--<input type="button" value="Enterate Cómo"></input>-->
                    </div>
                    <h:graphicImage class="main-img" library="img" name="main.png" ></h:graphicImage>
                    <!--<img class="main-img" src="main.png" alt=""></img>-->
                </div>
            </ui:define>

        </ui:composition>

    </h:body>
</html>

