<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:f = "http://java.sun.com/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>

        <title>Facelet Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>

    </h:head>
    <h:body>
        <h1>Registro de Productos</h1>

        <h:form class="form-horizontal">

            <div class="form-group">
                <label for="inputCodigo" class="col-sm-2 control-label">Código</label>
                <div class="col-sm-8">
                    <h:inputText id="inputCodigo" value="#{controladorProducto.product.codigo}" class="form-control"  a:placeholder="Código del producto" required="true" label="Código" ></h:inputText>

                </div>
            </div>
            <div class="form-group">
                <label for="inputDescripcion" class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-8">
                    <h:inputText id="inputDescripcion" value="#{controladorProducto.product.descripcion}" class="form-control"  a:placeholder="Descripción del producto" required="true" label="Descripción" ></h:inputText>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPrecio" class="col-sm-2 control-label">Precio</label>
                <div class="col-sm-8">
                    <h:inputText id="inputPrecio" value="#{controladorProducto.product.precio}" class="form-control"  a:placeholder="Precio del producto" required="true" label="Precio" ></h:inputText>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <h:commandButton value="Crear" class="btn btn-default" action="#{controladorProducto.crearProducto()}"></h:commandButton>
                </div>
            </div>
        </h:form>

        <h2>Busqueda ...</h2>
        <h:form>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="inputBusqueda" class="col-sm-2 control-label">Busqueda</label>
                        <div class="col-sm-8">
                            <h:inputText id="inputBusqueda" value="#{controladorProducto.search}" class="form-control"  a:placeholder="Busqueda de productos" >
                                <f:ajax  event="keyup" listener="#{controladorProducto.buscarProductos()}" />
                            </h:inputText>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-4">.col-md-4</div>-->
            </div>
            <h:dataTable class="table" value="#{controladorProducto.listaProductos}" var="u" >
                <h:column>
                    <f:facet name="header">Código</f:facet>
                        #{u.codigo}
                </h:column>
                <h:column>
                    <f:facet name="header">Descripción</f:facet>
                        #{u.descripcion}
                </h:column>

                <h:column>
                    <f:facet name="header">Precio</f:facet>
                        #{u.precio}
                </h:column>
               
                <h:column>
                    <f:facet name="header">Acciones</f:facet>
                    <h:commandLink value="Editar" action="#{controladorProducto.editarProducto(u.id)}" ></h:commandLink>
                </h:column>
            </h:dataTable>
        </h:form>


    </h:body>
</html>

