<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Facelet Title</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    </h:head>    
    <h:body>
        <div class="container">
            <h3>Registro equipos de computo</h3>
            <h:form class="form-horizontal">
                <div class="form-group">
                    <label for="inputmarca" class="col-sm-2 control-label">Marca</label>
                    <div class="col-sm-8">
                        <h:inputText id="inputmarca" value="#{controladorEquipos.selectedComputer.marca}" class="form-control" a:placeholder="Marca" required="true" label="marca" requiredMessage="Marca Requerida" ></h:inputText>
                    </div>
                    <h:message for="inputmarca" style="color:red"></h:message><br></br>

                </div>
                <div class="form-group">
                    <label for="inputmodelo" class="col-sm-2 control-label">Modelo</label>
                    <div class="col-sm-8">
                        <h:inputText id="inputmodelo" value="#{controladorEquipos.selectedComputer.modelo}" class="form-control" a:placeholder="Modelo" required="true" label="Modelo" requiredMessage="Modelo Requerido" ></h:inputText>
                    </div>
                    <h:message for="inputmodelo" style="color:red"></h:message><br></br>

                </div>
                <div class="form-group">
                    <label for="inputCapacidadRAM" class="col-sm-2 control-label" requiredMessage="Cantidad de Ram Requerida">Capacidad Ram</label>
                    <div class="col-sm-8">
                        <h:inputText id="inputCapacidadRAM" value="#{controladorEquipos.selectedComputer.capacidadRam}" class="form-control"  a:placeholder="Capacidad de RAM en GB" required="true" label="Capacidad de RAM" requiredMessage="RAM Requerida" validatorMessage="Memoria aceptada entre 1GB y 128GB" >
                            <f:ajax event="keyup" render="textCapacidadRAM" ></f:ajax>
                            <f:validateLongRange minimum="1" maximum="128"></f:validateLongRange>
                        </h:inputText><br></br>
                    </div>
                    <h:message id="textCapacidadRAM" for="inputCapacidadRAM" style="color:red"></h:message><br></br>
                </div>
                
                <div class="form-group">
                    <label for="inputProcesador" class="col-sm-2 control-label">Procesador</label>
                    <div class="col-sm-8">
                        <h:inputText id="inputProcesador" value="#{controladorEquipos.selectedComputer.procesador}" class="form-control"  a:placeholder="Procesador" required="true" label="Procesador" requiredMessage="Procesador Requerido" ></h:inputText>
                    </div>
                    <h:message for="inputProcesador" style="color:red"></h:message><br></br>
                </div>
                
                <div class="form-group">
                    <label for="inputCapacidadHHD" class="col-sm-2 control-label" >Capacidad Disco Duro</label>
                    <div class="col-sm-8">
                        <h:inputText id="inputCapacidadHHD" value="#{controladorEquipos.selectedComputer.capacidadHHD}" class="form-control"  a:placeholder="Capacidad de Disco Duro en GB" required="true" label="Capacidad de Disco Duro" requiredMessage="Disco Duro Requerido" validatorMessage="Disco Duro aceptado entre 1GB y 2.000GB" >
                            <f:ajax event="keyup" render="textCapacidadHHD" ></f:ajax>
                            <f:validateLongRange minimum="1" maximum="2000"></f:validateLongRange>
                        </h:inputText><br></br>
                    </div>
                    <h:message id="textCapacidadHHD" for="inputCapacidadHHD" style="color:red"></h:message><br></br>
                </div>
                <div class="form-group">
                    <label for="inputPrecio" class="col-sm-2 control-label">Precio</label>
                    <div class="col-sm-8">
                        <h:inputText id="inputPrecio" value="#{controladorEquipos.selectedComputer.precio}" class="form-control"  a:placeholder="Precio del producto" required="true" label="Precio"  requiredMessage="Precio Requerido" ></h:inputText>
                    </div>
                    <h:message for="inputPrecio" style="color:red"></h:message><br></br>

                </div>
                <div class="form-group">
                    <h:commandButton value="Guardar" class="btn btn-default" action="#{controladorEquipos.guardarComputador()}"></h:commandButton>
                </div>
            </h:form>
        </div>
        <!--<h:link outcome="/computadores/List" value="Show All Computadores Items"/>-->
    </h:body>
</html>

