<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../Templates/main.xhtml">

            <ui:define name="content">
                <h4>Usuarios Admitidos</h4>
                <h:form>
                    <div class="form-group">
                        <label for="program" class="col-sm-4 control-label">Programa </label>
                        <div class="col-sm-8">
                            <h:selectOneMenu class="form-control" value="#{controllerInscriptions.filtrarProgramaSeleccionado}">
                                <f:selectItem itemValue = "Ing. Sistemas" itemLabel = "Ing. Sistemas" /> 
                                <f:selectItem itemValue = "Medicina" itemLabel = "Medicina" /> 
                                <f:selectItem itemValue = "Astronomia" itemLabel = "Astronomia" />
                            </h:selectOneMenu>
                            <h:commandButton value="Buscar" action="#{controllerInscriptions.loadStudentByProgramAll()}" />

                        </div>
                    </div> 

                </h:form>
                <h:dataTable class="table" value="#{controllerInscriptions.listInscriptionsAdmitted}" var="item">

                    <h:column >
                        <f:facet name="header">Programa</f:facet>
                            #{item.program}
                    </h:column>
                    <h:column >
                        <f:facet name="header">Nombres y  Apellidos</f:facet>
                            #{item.idStudent.names} #{item.idStudent.lastNames}
                    </h:column>
                    <h:column >
                        <f:facet name="header">Código PIN</f:facet>
                            #{item.PINCode}
                    </h:column>
                    <h:column >
                        <f:facet name="header">Puntaje ICFES</f:facet>
                            #{item.ICFESScore}
                    </h:column>

                </h:dataTable>

            </ui:define>

        </ui:composition>

    </body>
</html>
