<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../Templates/main.xhtml">

            <ui:define name="content">
                <h4>Matriculas</h4>

                <div class="row">
                    <div class="col-xs-6">
                        <h:form class="form-horizontal">


                            <div class="form-group">
                                <label for="inputUsuario" class="col-sm-4 control-label">Usuario </label>
                                <div class="col-sm-8">
                                    <h:selectOneMenu class="form-control" value="#{controllerInscriptions.selectedInscription.idStudent}">
                                        <f:selectItems value="#{controllerStudents.listStudents}" var="student" itemValue="#{student.idStudent}" itemLabel="#{student.names} - #{student.lastNames}" />
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <div class="form-group">
                                <h:outputLabel for="CDate" value="Fecha: "  class="col-sm-4 control-label"/>  
                                <div class="col-sm-8">
                                    <p:calendar id="popup" class="form-control" value="#{controllerInscriptions.selectedInscription.CDate}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="program" class="col-sm-4 control-label">Programa </label>
                                <div class="col-sm-8">
                                    <h:selectOneMenu class="form-control" value="#{controllerInscriptions.selectedInscription.program}">
                                        <f:selectItem itemValue = "Ing. Sistemas" itemLabel = "Ing. Sistemas" /> 
                                        <f:selectItem itemValue = "Medicina" itemLabel = "Medicina" /> 
                                        <f:selectItem itemValue = "Astronomia" itemLabel = "Astronomia" />
                                    </h:selectOneMenu>
                                </div>
                            </div> 


                            <div class="form-group">
                                <h:outputLabel for="PINCode" value="Código PIN" class="col-sm-4 control-label"/>                    
                                <div class="col-sm-8">
                                    <p:inputText id="PINCode" class="form-control" value="#{controllerInscriptions.selectedInscription.PINCode}" label="PINCode">                            </p:inputText>
                                </div>
                                <p:message for="PINCode" />
                            </div>

                            <div class="form-group">
                                <h:outputLabel for="ICFESScore" value="Puntaje ICFES" class="col-sm-4 control-label"/>                    
                                <div class="col-sm-8">
                                    <p:inputText id="ICFESScore" class="form-control" value="#{controllerInscriptions.selectedInscription.ICFESScore}" label="ICFESScore">                            </p:inputText>
                                </div>
                                <p:message for="ICFESScore" />
                            </div>


                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-2">
                                    <h:commandButton value="Crear" class="btn btn-default" action="#{controllerInscriptions.createInscription()}"></h:commandButton>

                                </div>
                            </div>
                        </h:form>
                    </div>

                    <div class="col-xs-4">

                        <h:form>
                            <ui:repeat value="#{controllerInscriptions.listInscriptions}" var="item">
                                <div class="list-group">
                                    <h:commandLink action="#"  class="list-group-item">
                                        <h4 class="list-group-item-heading">#{item.idStudent.names} - #{item.idStudent.lastNames} </h4>
                                        <p class="list-group-item-text">Fecha <h:outputText  value="#{item.CDate}">
                                                <f:convertDateTime type="time" pattern="dd-MM-yyyy HH:mm" />
                                            </h:outputText></p>
                                        <p class="list-group-item-text">Programa #{item.program}</p>
                                        <p class="list-group-item-text">Código PIN #{item.PINCode}</p>
                                        <p class="list-group-item-text">Puntaje ICFES #{item.ICFESScore}</p>
                                    </h:commandLink>
                                    <!--</a>-->
                                </div>
                            </ui:repeat>   
                        </h:form>

                    </div>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
