<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../Templates/main.xhtml">

            <ui:define name="content">
                <h4>Registrar estudiantes</h4>

                <div class="row">
                    <div class="col-md-6">
                        <h:form class="form-horizontal">
                            <div class="form-group">
                                <h:outputLabel for="name" value="Nombres:" class="col-sm-2 control-label" style="font-weight:bold"/>                    
                                <div class="col-sm-8">
                                    <p:inputText id="name" class="form-control" value="#{controllerStudents.selectedStudent.names}" label="name"></p:inputText>
                                </div>
                                <p:message for="name" />
                            </div>
                            <div class="form-group">
                                <h:outputLabel for="lastNames" value="Apellidos:" class="col-sm-2 control-label" style="font-weight:bold"/>                    
                                <div class="col-sm-8">
                                    <p:inputText id="lastNames" class="form-control" value="#{controllerStudents.selectedStudent.lastNames}" label="lastNames"></p:inputText>
                                </div>
                                <p:message for="lastNames" />
                            </div>

                            <div class="form-group">
                                <h:outputLabel for="address" value="Dirección: " class="col-sm-2 control-label" style="font-weight:bold"/>                    
                                <div class="col-sm-8">
                                    <p:inputText id="address" class="form-control" value="#{controllerStudents.selectedStudent.address}" label="address"></p:inputText>
                                </div>
                                <p:message for="address" />
                            </div>

                            <div class="form-group">
                                <h:outputLabel for="phone" value="Telefono: " class="col-sm-2 control-label" style="font-weight:bold"/>                    
                                <div class="col-sm-8">
                                    <p:inputText id="phone" class="form-control" value="#{controllerStudents.selectedStudent.phone}" label="phone"></p:inputText>
                                </div>
                                <p:message for="phone" />
                            </div>

                            <div class="form-group">
                                <h:outputLabel for="email" value="Correo: " class="col-sm-2 control-label" style="font-weight:bold"/>                    
                                <div class="col-sm-8">
                                    <p:inputText id="email" class="form-control" value="#{controllerStudents.selectedStudent.email}" label="email"></p:inputText>
                                </div>
                                <p:message for="email" />
                            </div>



                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-2">
                                    <h:commandButton value="#{controllerStudents.getStatusName()}" class="btn btn-default" action="#{controllerStudents.createStudent()}"></h:commandButton>
                                </div>
                            </div>
                        </h:form>

                    </div>
                    <div class="col-md-6">

                        <h:form>
                            <br></br>

                            <ui:repeat value="#{controllerStudents.listStudents}" var="item">
                                <div class="list-group">
                                    <h:commandLink action="#{controllerStudents.editStudent(item)}"  class="list-group-item">
                                        <h4 class="list-group-item-heading">#{item.names} #{item.lastNames}</h4>
                                        <p class="list-group-item-text">Dirección #{item.address}</p>
                                        <p class="list-group-item-text">Teléfono #{item.phone}</p>
                                        <p class="list-group-item-text">Correo #{item.email}</p>
                                    </h:commandLink>
                                    <!--</a>-->
                                </div>
                            </ui:repeat>  


                        </h:form>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
