<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html" >

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/cssLayout.css"></h:outputStylesheet>
        <h:outputStylesheet name="css/default.css"></h:outputStylesheet>
        <title>Facelets Template</title>
    </h:head>

    <h:body>
        <div id="top">
            <ui:insert name="top"></ui:insert>
            <div id="menuBar">
                <header class="menu-container">
                    <div class="logo">
                        <h:graphicImage library="img" name="logo.png" ></h:graphicImage>
                    </div>
                    <div class="menu">
                        <h:link value="Index" class="banner_option" outcome="/index" ></h:link>
                        <h:link value="¿QUÉ ES KEEPSMILING?" class="banner_option" outcome="/Views/principal"></h:link>
                        <a href="#"  class="banner_option"><span>AREA ODONTÓLOGOS</span></a>
                        <a href="#"  class="banner_option"><span>CONTACTO</span></a>
                    </div>
                </header>


                <!--
                <h:form>  
                    <p:growl id="messages"/>

                    <p:menubar>
                        <p:submenu label="File" icon="ui-icon-document">
                            <p:submenu label="New" icon="ui-icon-contact">
                                <p:menuitem value="Project" url="#" />
                                <p:menuitem value="Other" url="#" />
                            </p:submenu>
                            <p:menuitem value="Open" url="#" />
                            <p:separator />
                            <p:menuitem value="Quit" url="#" />
                        </p:submenu>

                        <p:submenu label="Edit" icon="ui-icon-pencil">
                            <p:menuitem value="Undo" url="#" icon="ui-icon-arrowreturnthick-1-w" />
                            <p:menuitem value="Redo" url="#" icon="ui-icon-arrowreturnthick-1-e" />
                        </p:submenu>

                        <p:submenu label="Help" icon="ui-icon-help">
                            <p:menuitem value="Contents" url="#" />
                            <p:submenu label="Search" icon="ui-icon-search">
                                <p:submenu label="Text">
                                    <p:menuitem value="Workspace" url="#" />
                                </p:submenu>
                                <p:menuitem value="File" url="#" />
                            </p:submenu>
                        </p:submenu>

                        <p:submenu label="Actions" icon="ui-icon-gear">
                            <p:submenu label="Ajax" icon="ui-icon-refresh">
                                <p:menuitem value="Save" actionListener="#{menuView.save}" icon="ui-icon-disk" update="messages"/>
                                <p:menuitem value="Update" actionListener="#{menuView.update}" icon="ui-icon-arrowrefresh-1-w" update="messages"/>
                            </p:submenu>
                            <p:submenu label="Non-Ajax" icon="ui-icon-newwin">
                                <p:menuitem value="Delete" actionListener="#{menuView.delete}" icon="ui-icon-close" update="messages" ajax="false"/>
                            </p:submenu>
                        </p:submenu>

                        <p:menuitem value="Quit" url="http://www.primefaces.org" icon="ui-icon-close" />

                       
                    </p:menubar>
                </h:form>-->
            </div>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content"></ui:insert>

            <div class="bottom-content">
                <section class="content_green">
                    <div class="tittle">
                        KeepSmiling
                    </div>
                    <div class="body_section">
                        <p>
                            KeepSmiling S.A. es una empresa agertina, dedicada a la alineación estetica dental, brindando un servicio de excelencia. <br /> Actualmente, la empresa está presente en 10 provincias Argentinas y tiene proyectado en el corto plazo ingresar en 6 provincias màs así también en 5 países de Latinoamérica.
                        </p>
                        <a href="#">Conozca Keepsmiling</a>
                    </div>
                </section>
                <section class="content_blue">
                    <div class="tittle">
                        Novedades
                    </div>
                    <div class="body_section">
                        <p><a href="#">Se realió un nuevo curso de acreditación KS - El 17 de septiembre 2012</a> </p>

                        <p><a href="#">Se realizó un nuevo curso de acreditación KS - 02 de Julio 2012</a></p>
                        <p>El 02 de Julio 2012 se realizó un nuevo curso de acreditación para ortodon</p>


                        <a href="#">Ver más novedades</a>
                    </div>
                </section>
                <section class="content_orange">
                    <div class="tittle">
                        Equipo odontológico
                    </div>
                    <div class="body_section">
                        <p>Consulta nuestra lista de odontólogos KS. Elige al odontólogo de tu preferencia.</p>
                        <p>Escribile o llamalo para combinar una consulta.</p>

                        <a href="#">Listado de Odontólogos KS</a>
                    </div>
                </section>
            </div>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">
                <footer>
                    <div class="footer_options">
                        <p>Alineación dental invisble con resultados a la vista</p>
                    </div>
                    <div class="footer_options">
                        <h4>Acceso Pacientes</h4>
                        <div class="userdisplay">
                            <label for="user">Usuario</label>
                            <input type="text" class="userfiled"></input>
                        </div>
                    </div>
                    <div class="footer_options">
                        <h4>Acceso Odontólogos</h4>
                        <div class="userdisplay">
                            <label for="user">Usuario</label>
                            <input type="text" class="userfiled"></input>
                        </div>
                    </div>
                </footer>
            </ui:insert>
        </div>

    </h:body>

</html>
