<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
    <h:body>
        <center>
            <h:form>
                <h2>Venta de Productos</h2>
                <div>
                    <h:outputLabel value="Valor Producto: " ></h:outputLabel>
                    <h:inputText value="#{ventaProductos.producto.unitValue}">
                        <f:convertNumber type="currency" currencySymbol="$" locale="en_US" />
                    </h:inputText>
                </div>
                <div>
                    <h:outputLabel value="Cantidad:       " ></h:outputLabel>
                    <h:inputText value="#{ventaProductos.producto.quantity}"></h:inputText>
                </div>

                <div >
                    <h:outputLabel value="IVA:            " ></h:outputLabel>
                    <h:inputText disabled="true" value="#{ventaProductos.producto.IVA}">
                        <f:convertNumber type="currency" currencySymbol="$" locale="en_US" />
                    </h:inputText>
                </div>
                <div>
                    <h:outputLabel value="Descuento:      " ></h:outputLabel>
                    <h:inputText disabled="true" value="#{ventaProductos.producto.discount}">
                        <f:convertNumber type="currency" currencySymbol="$" locale="en_US" />
                    </h:inputText>
                </div>
                <br />
                <div>
                    <h:outputLabel value="Total a Pagar:  " ></h:outputLabel>
                    <h:inputText value="#{ventaProductos.producto.total}">
                        <f:convertNumber type="currency" currencySymbol="$" locale="en_US" />
                    </h:inputText>
                </div>

                <h:commandButton type="submit" value="Calcular" action="#{ventaProductos.calcular()}" ></h:commandButton>

            </h:form>
        </center>
    </h:body>
</html>

