<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/style.css"></h:outputStylesheet>

    </h:head>
    <h:body>
        <header class="menu-container">
            <div class="logo">
                <img src="resources/img/logo.png" > </img>
            </div>
            <div class="menu">
                <a href="#" class="banner_option active" style="display: block;"><span>INICIO</span></a>
                <a href="#" class="banner_option"><span>¿QUÉ ES KEEPSMILING?</span></a>
                <a href="#"  class="banner_option"><span>AREA ODONTÓLOGOS</span></a>
                <a href="#"  class="banner_option"><span>CONTACTO</span></a>
            </div>
        </header>
        <div class="content">
            <div class="main-text" >
                <div class="text">
                    <h1 class="main-header">
                        ¿Querés tener una sonrisa Keepsmiling?
                    </h1>
                    <p>
                        Una buena sonrisa no sólo aporta estética, también trasmite mayor seguridad, alegría, dulzura y calidez.
                    </p>
                    <input type="button" value="Enterate Cómo"></input>
                </div>
                <img class="main-img" src="main.png" alt=""></img>
            </div>
            <div class="login-form">
                <p><h3>REGISTRO DE CLIENTES</h3></p>
                <form action="#" method="post" name="targetform" id="target">
                    <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario"  oninvalid="this.setCustomValidity('Porfavor ingresa un Nombre de usuario')">   </input>
                    <input type="text" id="email" name="email" placeholder="Correo"  oninvalid="this.setCustomValidity('Porfavor ingresa un correo valido')"> </input>
                    <p id="updateErrorMessageEmail"></p>

                    <input type="password" id="password" name="password" placeholder="Contraseña"  ></input>
                    <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirmar contraseña"  >   </input>
                    <p id="updateErrorMessage"></p>
                    <input type="submit" value="Registrarse">  </input> 
                </form>
            </div>
            <div class="bottom-content">
                <section class="content_green">
                    <div class="tittle">
                        KeepSmiling
                    </div>
                    <div class="body_section">
                        <p>
                            KeepSmiling S.A. es una empresa agertina, dedicada a la alineación estetica dental, brindando un servicio de excelencia. <br /> Actualmente, la empresa está presente en 10 provincias Argentinas y tiene proyectado en el corto plazo ingresar en 6 provincias màs así también en 5 países de Latinoamérica.
                        </p>
                        <a href="#">Conozca Keepsmiling</a>
                    </div>
                </section>
                <section class="content_blue">
                    <div class="tittle">
                        Novedades
                    </div>
                    <div class="body_section">
                        <p><a href="#">Se realió un nuevo curso de acreditación KS - El 17 de septiembre 2012</a> </p>

                        <p><a href="#">Se realizó un nuevo curso de acreditación KS - 02 de Julio 2012</a></p>
                        <p>El 02 de Julio 2012 se realizó un nuevo curso de acreditación para ortodon</p>


                        <a href="#">Ver más novedades</a>
                    </div>
                </section>
                <section class="content_orange">
                    <div class="tittle">
                        Equipo odontológico
                    </div>
                    <div class="body_section">
                        <p>Consulta nuestra lista de odontólogos KS. Elige al odontólogo de tu preferencia.</p>
                        <p>Escribile o llamalo para combinar una consulta.</p>

                        <a href="#">Listado de Odontólogos KS</a>
                    </div>
                </section>
            </div>
        </div>
        <footer>
            <div class="footer_options">
                <p>Alineación dental invisble con resultados a la vista</p>
            </div>
            <div class="footer_options">
                <h4>Acceso Pacientes</h4>
                <div class="userdisplay">
                    <label for="user">Usuario</label>
                    <input type="text" class="userfiled"></input>
                </div>
            </div>
            <div class="footer_options">
                <h4>Acceso Odontólogos</h4>
                <div class="userdisplay">
                    <label for="user">Usuario</label>
                    <input type="text" class="userfiled"></input>
                </div>
            </div>
        </footer>
    </h:body>

</html>

