
#top {
    position: relative;
    color: white;
    padding: 5px;
    margin: 0px 0px 0px 0px;
}

#bottom {
    position: relative;
    margin: 15px;
    bottom: 0px;
    right: 0px;
}

#left {
    float: left;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    padding: 5px;
    margin: 15px;
}

.left_content {
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    padding: 5px;
    margin: 0px 170px 0px 170px;
}
