<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="//bootswatch.com/paper/bootstrap.css" rel="stylesheet"></link>

        <h:outputStylesheet name="/css/default.css"/>
        <h:outputStylesheet name="/css/cssLayout.css"/>
        <title>Prestamos</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top">
                <h1>Prestamos</h1>
            </ui:insert>
        </div>
        <div>
            <div id="left">
                <ui:insert name="left">
                    <h:form>
                        <div class="btn-group-vertical">
                            <h:commandLink class="btn btn-default" action="/views/items.xhtml"> Articulos
                                <f:ajax execute="@form" render="/views/items.xhtml" />
                            </h:commandLink> 
                            <h:commandLink class="btn btn-default" action="/views/prestamos.xhtml"> Prestamos
                                <f:ajax execute="@form" render="/views/prestamo.xhtml" />
                            </h:commandLink> 
                            <h:commandLink class="btn btn-default" action="/views/usuarios.xhtml"> Usuarios
                                <f:ajax execute="@form" render="/views/usuarios.xhtml" />
                            </h:commandLink> 

                        </div>
                    </h:form>
                </ui:insert>
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
        <div id="bottom">
            <ui:insert name="bottom">
                <center>
                    <i>
                        By Ramiro Andrés Bedoya
                    </i>
                </center>
            </ui:insert>
        </div>

    </h:body>

</html>
