/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2017, 6:37:16 PM
    Author     : iamramiroo
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 99%;
    margin: 1em;
    background-color: black;
}

.menu-container {
    /* Blue */
    padding-top: 1em;
    /* display: inline-block; */
    display: flex;
}

.menu {
    padding-top: 1em;
    padding-left: 1.5em;
    margin: 1em 1em 1em -1em;
    border-radius: 1em;
    background-color: #1D9BCC;
    display: flex;
    width: 100%;
    z-index: 1;
}

.logo img {
    background-color: white;
    width: 130px;
    border-radius: 0.5em;
}

.logo {
    z-index: 99;
}

.banner_option {
    vertical-align: center;
    text-align: center;
    width: 30%;
    color: #fff;
    font-size: 0.9em;
    padding: 0.5em;
    height: 75%;
}

.banner_option:hover {
    background-image: linear-gradient(to bottom, #c3e3fa, #a5defb);
}

.active {
    background-color: #0A6A90;
    border-radius: 1em;
}

.login-form {
    /*     display: none;
     */
    text-align: center;
    padding-top: 1em;
    height: 350px;
    width: 98%;
    border-radius: 1em;
    background-color: #C5C1B6;
}

.login-form h3 {
    margin-bottom: 1em;
}

.login-form input[type=text], input[type=password], input[type="email"]{
    width: 60%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1em;
}
.login-form input[type=submit] {
    width: 40%;
    padding: 12px 20px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1em;
}

input:invalid {
  background-color: #ffdddd;
}

.login-form:invalid {
  border: 5px solid #ffdddd;
}

input:valid {
  background-color: #ddffdd;
}

.login-form:valid {
  border: 5px solid #ddffdd;
}
 

input:required:valid {
  border-color: #008000;
}

#updateErrorMessage {
    color: red;
}

.main-text {
    height: 100%;
    width: 98%;
    border-radius: 1em;
    display: flex;
    background-color: #C5C1B6;
    margin-top: -2em;
    z-index: initial;
    display: none;
    /*     background-image: url(background.png);
     */
}

.main-img {
    height: 30%;
}

.main-text p {
    color: white;
    margin: 1em;
    padding: 1em;
}

.main-text input {
    /* background-color: #9F9C95; */
    background: rgba(243, 226, 199, 1);
    background: -moz-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 0%, rgba(80, 73, 50, 1) 43%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243, 226, 199, 1)), color-stop(0%, rgba(193, 158, 103, 1)), color-stop(43%, rgba(80, 73, 50, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 0%, rgba(80, 73, 50, 1) 43%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 0%, rgba(80, 73, 50, 1) 43%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 0%, rgba(80, 73, 50, 1) 43%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 0%, rgba(80, 73, 50, 1) 43%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#000000', GradientType=0);
    margin: 5em;
    padding: 1em;
    color: white;
}

.main-header {
    border-radius: 0.2em;
    padding: 0.3em;
    background-color: #9F9C95;
    margin: 1em;
    color: white;
}

.bottom-content {
    display: flex;
    margin-top: -2em;
}

.content_blue,
.content_green,
.content_orange {
    justify-content: center;
    width: 31%;
    border-radius: 0.5em;
    margin-left: 1%;
}

.content_green {
    background-color: #f4f3f2;
}

.content_green .tittle {
    background-color: #57CB37;
    margin: 0.3em;
    border-radius: 0.8em;
    padding: 1em;
    color: #efedea;
}

.content_green .body_section {
    background-color: white;
    border-radius: 0.8em;
    margin: 0.3em;
    padding: 0.3em;
    text-align: justify;
}

.content_green p {
    margin: 1em 0.5em 1em 0.5em;
}

.content_green a {
    margin-top: 1em;
    color: green;
}

.content_blue {
    background-color: #f4f3f2;
}

.content_blue .tittle {
    background-color: #1D9BCC;
    margin: 0.3em;
    border-radius: 0.8em;
    padding: 1em;
    color: #efedea;
}

.content_blue .body_section {
    background-color: white;
    border-radius: 0.8em;
    margin: 0.3em;
    padding: 0.3em;
    text-align: justify;
}

.content_blue p {
    margin: 1em 0.5em 1em 0.5em;
}

.content_blue a {
    margin-top: 1em;
    color: green;
}

.content_orange {
    background-color: #f4f3f2;
}

.content_orange .tittle {
    background-color: #F7670C;
    margin: 0.3em;
    border-radius: 0.8em;
    padding: 1em;
    color: #efedea;
}

.content_orange .body_section {
    background-color: white;
    border-radius: 0.8em;
    margin: 0.3em;
    padding: 0.3em;
    text-align: justify;
}

.content_orange p {
    margin: 1em 0.5em 1em 0.5em;
}

.content_orange a {
    margin-top: 1em;
    color: #F7670C;
}

footer {
    margin: 1em;
    background: rgba(243, 226, 199, 1);
    background: -moz-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 0%, rgba(80, 73, 50, 1) 43%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243, 226, 199, 1)), color-stop(0%, rgba(193, 158, 103, 1)), color-stop(43%, rgba(80, 73, 50, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 0%, rgba(80, 73, 50, 1) 43%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 0%, rgba(80, 73, 50, 1) 43%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 0%, rgba(80, 73, 50, 1) 43%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 0%, rgba(80, 73, 50, 1) 43%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#000000', GradientType=0);
}

footer {
    display: flex;
}

.footer_options {
    width: 33%;
    color: white;
    margin: 0.5em 0.5em 0.5em 0;
}

.footer_options p {
    text-align: center;
    font-size: 17px;
}

.footer_options label {
    font-size: 13px;
    margin-right: 12px;
}

.footer_options input {
    font-size: 13px;
}

.footer_options h4 {
    margin-bottom: 0.1em;
}
