
#top {
    position: relative;
    padding: 5px;
    margin: 0px 0px 1em 0px;
    top: 0;
    left: 0;
    right: 0;
}

#bottom {
    /*position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;*/
    position: fixed;
    bottom: 1em;
    left: 1em;
    right: 1em;
    height: 70px;
    background-color: #c2dfef;

}

#left {
    float: left;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
     padding: 5px;
}

.left_content {
     padding: 5px;
    margin-left: 170px;
}

.right_content {
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

/*
#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
*/
