<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../Template/mainTemplate.xhtml">

            <ui:define name="content">
                <div class="login-form">
                    <center>
                        <h1>Lista de Usuarios</h1>

                        <h:form>
                            <h:dataTable value="#{beanUsuario.listaUsuarios}" var="u" >
                                <h:column>
                                    <f:facet name="header">Documento</f:facet>
                                        #{u.cedula}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Nombres</f:facet>
                                        #{u.nombres}
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Correo</f:facet>
                                        #{u.correo}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Edad</f:facet>
                                        #{u.edad}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Acciones</f:facet>
                                    <h:commandLink value="Editar" action="#{beanUsuario.editarUsuario(u.cedula)}" ></h:commandLink> ||
                                    <h:commandLink value="Eliminar" action="#{beanUsuario.deleteUsuario(u.cedula)}"></h:commandLink>
                                </h:column>
                            </h:dataTable>
                        </h:form>

                    </center>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
