<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <body>

        <ui:composition template="./../Template/mainTemplate.xhtml">

            <ui:define name="content">
                <div class="login-form">
                    <p><h3>REGISTRO DE CLIENTES</h3></p>
                    <!--form action="#" method="post" name="targetform" id="target">-->
                    <h:form>
                        <h:inputText id="cedula" value="#{beanUsuario.usuario.cedula}" a:placeholder="Cedula" required="true" label="Cedula" requiredMessage="La cedula es obligatoria" validatorMessage="Formato de Cedula no valido" >
                            <f:validateLongRange minimum="1000000" maximum="2000000000"></f:validateLongRange>
                            <f:ajax event="keyup" render="textcedulamessage" ></f:ajax>
                        </h:inputText><br></br>
                        <h:message id="textcedulamessage" for="cedula" style="color:red"></h:message><br></br>


                        <h:inputText id="nombres" value="#{beanUsuario.usuario.nombres}" a:placeholder="Nombre de usuario" required="true" label="Nombre" requiredMessage="Nombres es obligatorio" validator="#{beanUsuario.validate}" >

                        </h:inputText><br></br>
                        <h:message for="nombres" style="color:red"></h:message><br></br>


                        <h:inputText id="correo" value="#{beanUsuario.usuario.correo}"  a:placeholder="Correo Electronico" required="true" requiredMessage="Correo electronico obligatorio" validatorMessage="Formato de correo no valido">
                            <f:ajax event="keyup" render="textcorreomessage" ></f:ajax>
                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                        </h:inputText><br></br>
                        <h:message id="textcorreomessage" for="correo" style="color:red"></h:message><br></br>

                        <h:inputText    id="edad" value="#{beanUsuario.usuario.edad}" required="true" label="Edad" requiredMessage="La edad es obligatoria" validatorMessage="Edad no valida (Entre 12 y 100)" >
                            <f:ajax event="keyup" render="textedadmessage" ></f:ajax>
                            <f:validateLongRange minimum="12" maximum="100"></f:validateLongRange>
                        </h:inputText><br></br>
                        <h:message id="textedadmessage" for="edad" style="color:red"></h:message><br></br>

                        <h:inputSecret id="contrasena" value="#{beanUsuario.usuario.contrasena}" a:placeholder="Contraseña" required="true" requiredMessage="Contraseña requerida">
                        </h:inputSecret><br></br>
                        <h:message for="contrasena" style="color:red"></h:message><br></br>

                        <p id="updateErrorMessage"></p>

                        <h:commandButton value="Guardar" action="#{beanUsuario.crearUsuario()}"></h:commandButton>
                        <h:button value="Ver listado de usuarios" outcome="/Views/listado"></h:button>

                    </h:form>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
