<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../Templates/main.xhtml">

            <ui:define name="content">
                <h:form>
                    <br></br>

                    <ui:repeat value="#{controllerStudents.listStudents}" var="item">
                        <div class="list-group">
                            <!--<a href="#" class="list-group-item">-->
                            <h:commandLink action="#"  class="list-group-item">
                                <h4 class="list-group-item-heading">(#{item.enrollmentsCollection}) #{item.name}</h4>
                                <p class="list-group-item-text">Materias Matriculadas</p>
                                <ui:repeat value="#{item.enrollmentsCollection}" var="enrollement">
                                    <p class="list-group-item-text"> #{enrollement.idAcademicProgram}</p>

                                </ui:repeat>

                                <p class="list-group-item-text">Fecha #{item.date}</p>
                            </h:commandLink>
                            <!--</a>-->
                        </div>
                    </ui:repeat>  


                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
