<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../Templates/main.xhtml">

            <ui:define name="content">
                <h4>Datos de estudiantes</h4>

                <div class="row">
                    <div class="col-md-6">
                        <h:form class="form-horizontal">
                            <div class="form-group">
                                <h:outputLabel for="Code" value="Codigo: " class="col-sm-2 control-label" style="font-weight:bold"/>                    
                                <div class="col-sm-8">
                                    <p:inputText id="Code" class="form-control" value="#{controllerStudents.selectedStudent.code}" required="true" label="Code"></p:inputText>
                                </div>
                                <p:message for="Code" />
                            </div>
                            <div class="form-group">
                                <h:outputLabel for="name" value="Nombre:" class="col-sm-2 control-label" style="font-weight:bold"/>                    
                                <div class="col-sm-8">
                                    <p:inputText id="name" class="form-control" value="#{controllerStudents.selectedStudent.name}" label="name">                            </p:inputText>
                                </div>
                                <p:message for="name" />
                            </div>
                            <div class="form-group">
                                <h:outputLabel for="date" value="Fecha: "  class="col-sm-2 control-label" style="font-weight:bold"/>  
                                <div class="col-sm-8">
                                    <p:calendar id="popup" class="form-control" value="#{controllerStudents.selectedStudent.date}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-2">
                                    <h:commandButton value="#{controllerStudents.getStatusName()}" class="btn btn-default" action="#{controllerStudents.createStudent()}"></h:commandButton>
                                </div>
                            </div>
                        </h:form>

                    </div>
                    <div class="col-md-6">

                        <h:form>
                            <br></br>

                            <ui:repeat value="#{controllerStudents.listStudents}" var="item">
                                <div class="list-group">
                                    <!--<a href="#" class="list-group-item">-->
                                    <h:commandLink action="#{controllerStudents.editStudent(item)}"  class="list-group-item">
                                        <h4 class="list-group-item-heading">(#{item.code}) #{item.name}</h4>
                                        <p class="list-group-item-text">Fecha #{item.date}</p>
                                    </h:commandLink>
                                    <!--</a>-->
                                </div>
                            </ui:repeat>  


                        </h:form>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
